.about {
  background-color: #fafafa;
}

.about-content-list {
  padding: 0 2.2vw;
}

.about-content-list-item {
  display: block;
  margin: 4vh 0;
}

.about-content-list-item-title {
  font-size: 2.2vw;
  font-weight: bold;
  color: #93b8c3;
  margin-bottom: 1.5vh;
}

.about-item-intro {
  font-size: 1.3vw;
  line-height: 1.5;
  color: #5b5e61;
}

.about-item-edu-list-item {
  display: flex;
  align-items: center;
  margin: 3vh 0;
}

.about-school-logo {
  display: block;
  width: 8vw;
  height: 8vw;
  border-radius: 4vw;
  margin-right: 2vw;
}

.about-edu-item-container {
  flex: 2;
}

.about-edu-item-header {
  font-size: 1.6vw;
  font-weight: 500;
  color: #111;
  margin-bottom: 0.5vh;
}

.about-edu-item-detail-list-item {
  font-size: 1.2vw;
  color: #5b5e61;
  line-height: 1.5;
}

.degree::before {
  content: "🎓 ";
}

.gpa::before {
  content: "💯 ";
}

.coursework::before {
  content: "📚 ";
}

.about-edu-item-placeholder {
  flex: 1;
}

.light-bold {
  font-weight: 500;
}

.about-item-tech-group-list {
  --tech-proficency-bar-width: 0%;
  --tech-cat-item-card-margin: 1vh 1vw;
  --tech-cat-item-card-vertical-padding: 1vh;
  --tech-cat-item-card-horizontal-padding: 1vw;
  --tech-cat-item-card-box-shadow: 0 0 0.8vh 0.1vh #8ba2c7;
  --tech-cat-item-detail-card-top: -1vh;
  --tech-cat-item-detail-card-left: -1vw;
  --expand-animation-duration: 0.15s;
}

.about-tech-group-item {
  margin: 1.5vh 0;
}

.about-tech-group-item > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about-tech-group-item-name {
  font-size: 1.6vw;
  font-weight: 500;
  color: #acc2dc;
  margin-bottom: 1.2vh;
}

.about-tech-cat-list-item {
  position: relative;
  cursor: pointer;
  margin: 1.2vh 0.5vw;
}

.tech-item-overview {
  display: flex;
  align-items: center;
  margin: var(--tech-cat-item-card-margin);
  padding: var(--tech-cat-item-card-vertical-padding)
    var(--tech-cat-item-card-horizontal-padding);
  border-radius: 0.5vw;
  box-shadow: var(--tech-cat-item-card-box-shadow);
  width: 13.8vw;
  box-sizing: border-box;
}

.tech-item-overview-logo {
  height: 4vw;
  width: 4vw;
  margin-right: 1vw;
}

.tech-item-overview-name {
  font-size: 1.3vw;
  font-weight: 500;
  color: #111;
}

.tech-item-detail-overview {
  display: flex;
  align-items: center;
}

.tech-item-detail {
  position: absolute;
  top: var(--tech-cat-item-detail-card-top);
  left: var(--tech-cat-item-detail-card-left);
  z-index: 1;
  display: none;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  margin: var(--tech-cat-item-card-margin);
  padding: calc(
      var(--tech-cat-item-card-vertical-padding) -
        var(--tech-cat-item-detail-card-top)
    )
    calc(
      var(--tech-cat-item-card-horizontal-padding) -
        var(--tech-cat-item-detail-card-left)
    );
  border-radius: 1vw;
  box-shadow: 0 0 0.8vh 0.1vh #8ba2c7;
}

.tech-item-detail-overview {
  margin-bottom: 2vh;
}

.tech-item-detail-content-list {
  font-size: 1vw;
  color: #5b5e61;
}

.tech-item-detail-content-list > li {
  margin: 0.8vh 0;
}

.tech-item-detail-content-list > li:last-of-type {
  margin-bottom: 0;
}

.tech-item-detail-show {
  display: block;
  animation: expand var(--expand-animation-duration) steps(120);
}

@keyframes expand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.meter {
  display: block;
  height: 1.2vh;
  width: 10vw;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  border-radius: 0.5vh;
  background-color: #f3efef;
}

.proficiency-bar {
  height: inherit;
  width: 0;
  border-radius: inherit;
  background-color: #4caf50;
}

.progressing {
  animation-delay: var(--expand-animation-duration);
  animation-duration: 0.2s;
  animation-name: progressbar;
  animation-timing-function: steps(120);
  animation-fill-mode: forwards;
}

@keyframes progressbar {
  from {
    width: 0%;
  }
  to {
    width: var(--tech-proficency-bar-width);
  }
}

/* Mobile Version */
@media screen and (max-width: 768px) {
  #section-about {
    top: -6vh;
  }

  .about {
    padding: 2vh 5vw;
  }

  .about-title {
    font-size: 4vh;
    margin: 2vh 0;
  }

  .about-content-list {
    padding: 0 2.5vw;
  }

  .about-content-list-item {
    margin: 3vh 0 5vh 0;
  }

  .about-content-list-item-title {
    font-size: 3vh;
    font-weight: bold;
    color: #93b8c3;
    margin-bottom: 1.2vh;
  }

  .about-item-intro {
    font-size: 2vh;
    line-height: 1.5;
    color: #5b5e61;
  }

  .about-item-edu-list-item {
    display: block;
    margin: 3vh 0;
    text-align: center;
  }

  .about-school-logo {
    width: 12vh;
    height: 12vh;
    border-radius: 6vh;
    margin: 2vh auto;
  }

  .about-edu-item-header {
    font-size: 2.5vh;
  }

  .about-edu-item-detail-list-item {
    font-size: 2vh;
    padding: 0 2vw;
  }

  .about-edu-item-placeholder {
    display: none;
  }

  .about-item-tech-group-list {
    --tech-cat-item-card-margin: 0.5vh 2vw;
    --tech-cat-item-card-vertical-padding: 1vh;
    --tech-cat-item-card-horizontal-padding: 2vw;
    --tech-cat-item-card-box-shadow: 0 0 0.8vh 0.1vh #8ba2c7;
    --tech-cat-item-detail-card-top: -0.5vh;
    --tech-cat-item-detail-card-left: -2vw;
  }

  .about-tech-group-item-name {
    font-size: 2.7vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    text-align: center;
  }

  .about-tech-cat-list-item {
    margin: 1vh 0.5vw;
  }

  .tech-item-overview {
    width: 37vw;
    border-radius: 1vw;
  }

  .tech-item-overview-logo {
    height: 5vh;
    width: 5vh;
    margin-right: 3vw;
  }

  .tech-item-overview-name {
    font-size: 1.8vh;
  }

  .tech-item-detail {
    border-radius: 2vw;
  }

  .tech-item-detail-content-list {
    font-size: 1.6vh;
  }

  .meter {
    width: 35vw;
  }
}
