.nav-bar {
  background-color: #dbdfe4;
  height: 6vh;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  padding: 1vh 1vw;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav-bar-header {
  display: flex;
  flex: 1;
}

.name-icon-wrapper {
  font-size: 3vh;
  color: #111;
}

.name-icon-content {
  font-family: "Lumanosimo", sans-serif;
}

.toggler {
  display: none;
}

.toggler-line {
  width: 4vh;
  height: 2px;
  border-radius: 1px;
  background-color: #5c5577;
  margin: 1vh;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
}

.toggler-cross-1 {
  transform: translateY(1.25vh) rotate(45deg);
}

.toggler-cross-2 {
  opacity: 0;
}

.toggler-cross-3 {
  transform: translateY(-1.25vh) rotate(-45deg);
}

.nav-bar-list {
  display: flex;
  transition: max-height 0.3s ease-in-out;
}

.nav-bar-list-item > a {
  display: block;
  padding: 1vh 1.5vw;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 2vh;
  color: #111;
  border-radius: 0.5vh;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

.nav-bar-list-item > a:hover {
  cursor: pointer;
  background-color: #0062ff;
  color: #fdfdfd;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    display: block;
    height: auto;
  }

  .name-icon-wrapper {
    padding-left: 1vw;
  }

  .nav-bar-list {
    display: block;
    max-height: 0;
    overflow: hidden;
  }

  .nav-bar-list-item > a {
    padding-left: 3vw;
  }

  .nav-bar-list-show {
    max-height: 100vh;
  }

  .name-icon-wrapper {
    flex: 1;
  }

  .toggler {
    display: block;
  }
}
