#section-projects {
  position: relative;
  top: -2vh;
}

.projects {
  background-color: #f7f7f7;
  padding: 5vh 5vw;
  font-family: "Ubuntu", sans-serif;
  color: #111;
}

.projects-title {
  font-size: 3vw;
  font-weight: bold;
  margin: 3vh 0;
  text-align: center;
}

.projects-item {
  display: flex;
  margin: 5vh 0;
  padding: 3vh 1vw;
  border-radius: 1vw;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --separation-padding: 2vw;
}

.projects-item-hide {
  display: none;
}

.projects-item-logo-container {
  padding: 2vh var(--separation-padding);
  border-right: 2px solid #d9d9d9;
  align-self: center;
  box-sizing: border-box;
}

.projects-item-logo {
  width: 15vw;
  object-fit: cover;
}

.projects-item-content-container {
  padding: 0 var(--separation-padding);
}

.projects-item-content-title {
  font-size: 2vw;
  font-weight: 500;
  color: #111;
  margin-bottom: 1.5vh;
}

.projects-item-content-detail {
  font-size: 1.2vw;
  line-height: 1.5;
  color: #5b5e61;
  margin-bottom: 1.5vh;
}

.projects-item-content-detail > a:hover {
  color: #000;
}

.projects-item-content-tech::before {
  content: "Tech: ";
  font-weight: 500;
}

.projects-item-content-tech {
  font-size: 1.2vw;
  line-height: 1.5;
  color: #58a0f1;
}

.projects-collapsible-btn-container {
  text-align: center;
}

.projects-collapsible-btn {
  display: inline-block;
  margin: 1vh 0;
  padding: 1.5vh 3vw;
  border-radius: 1vh;
  font-size: 1.2vw;
  font-weight: 500;
  background-color: #0062ff;
  border: 1px solid #0062ff;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.projects-collapsible-btn:hover {
  background-color: #fff;
  color: #0062ff;
}

@media screen and (max-width: 768px) {
  #section-projects {
    top: -6vh;
  }

  .projects {
    padding: 2vh 5vw;
  }

  .projects-title {
    font-size: 4vh;
    margin: 2vh 0;
  }

  .projects-item {
    display: block;
    margin: 3vh 2vw;
    padding: 0 2vw;
    border-radius: 1.5vh;
    --separation-padding: 2vh;
    text-align: center;
  }

  .projects-item-hide {
    display: none;
  }

  .projects-item-logo-container {
    padding: var(--separation-padding) 0;
    border-right: none;
    border-bottom: 2px solid #d9d9d9;
  }

  .projects-item-logo {
    height: 10vh;
    width: auto;
  }

  .projects-item-content-container {
    padding: var(--separation-padding) 3vw;
  }

  .projects-item-content-title {
    font-size: 3vh;
    margin-bottom: 1.5vh;
  }

  .projects-item-content-detail {
    font-size: 2vh;
    margin-bottom: 1.5vh;
  }

  .projects-item-content-tech {
    font-size: 2vh;
  }

  .projects-collapsible-btn {
    margin: 0;
    padding: 1.5vh 10vw;
    border-radius: 2vw;
    font-size: 2vh;
  }

  .projects-collapsible-btn:hover {
    background-color: #0062ff;
    color: #fff;
  }
}
