.publications {
  background-color: #fff;
}

.publications-item {
  margin: 3vh 0;
  padding: 2vh 1vw;
  background-color: #e3ebf5;
  border-radius: 1vw;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  font-size: 1.3vw;
  color: #222;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .publications-item {
    margin: 3vh 2vw;
    padding: 2vh 4vw;
    font-size: 2vh;
    border-radius: 1vh;
  }
}
